.free-slider {
  position: relative;

  display: block;
  height: 50px;

  &__input {
    position: absolute !important;
    display: block !important;
    // top: 0 !important;
    // left: 0 !important;
    //   width: 0 !important;
    //   height: 0 !important;
    //   font-size: 0 !important;
    //   line-height: 0 !important;
    //   padding: 0 !important;
    //   margin: 0 !important;
    //   overflow: hidden;
    //   outline: none !important;
    //   z-index: -9999 !important;
    //   background: none !important;
    //   border-style: solid !important;
    //   border-color: transparent !important;
    left: 50%;
    top: -20px;
  }

  &__line {
    position: relative;
    top: 36px;

    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 7px;
  }

  &__min,
  &__max,
  &__value {
    position: absolute;
    top: 0;
    display: block;
  }

  &__min {
    left: 0;
  }

  &__max {
    right: 0;
  }

  &__value {
    left: 50%;
    transform: translateX(-50%);
  }

  &__bar {
    position: absolute;
    top: 36px;

    display: block;
    box-sizing: border-box;
    width: 50%;
    height: 7px;
  }

  &__handle,
  &__from-handle,
  &__to-handle {
    position: absolute;
    top: 30px;
    left: 50%;

    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    transform: translateX(-50%);

    cursor: pointer;

    &::after {
      position: absolute;
      top: -1.2em;

      display: block;
      margin-left: 50%;

      transform: translateX(-50%);
    }
  }

  &__handle::after {
    content: var(--input-value);
  }

  &__from-handle::after {
    content: var(--from-input-value);
  }

  &__to-handle::after {
    content: var(--to-input-value);
  }
}

// --- Vertical slider style ---

.free-slider--vertical {
  width: 50px;
  height: 100%;

  .free-slider__input {
    left: 0;
    top: -30px;
    width: 50px;
  }

  .free-slider__line {
    top: 0;
    left: 30px;

    width: 7px;
    height: 100%;
  }

  .free-slider__min,
  .free-slider__max {
    left: auto;
    right: 33px;
  }

  .free-slider__max {
    top: auto;
    bottom: 0;
  }

  .free-slider__handle,
  .free-slider__from-handle,
  .free-slider__to-handle {
    top: 50%;
    left: 23px;

    transform: translateY(-50%);

    &::after {
      top: auto;
      right: 1.6em;
    }
  }

  .free-slider__bar {
    top: 0;
    left: 30px;

    width: 7px;
    height: 50%;
  }
}
