html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #faf9f9;
}

.main {
  flex: 1 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 40px;
  background-color: #555b6e;

  &__title {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.slider {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: 0 14px 35px;
  border: 1px solid #bee3db;
  border-radius: 8px;

  &__wrapper {
    margin: 14px 14px 24px;
    width: 100%;

    &--horizontal {
      width: 100%;
    }

    &--vertical {
      min-height: 200px;
    }
  }

  &__panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 14px;
    border-radius: 0 0 7px 7px;
    background-color: #bee3db;

    & > *:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__input {
    margin-left: 12px;
    padding: 2px 8px;
    background-color: #faf9f9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    &:not([type='radio']):not([type='checkbox']) {
      width: 60px;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    width: 200px;
  }
}

.footer {
  width: 100%;
  padding: 30px 0;
  background-color: #555b6e;
  color: white;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 14px;
    max-width: 700px;
  }

  &__description {
    display: flex;
    flex-direction: column;

    & span:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__link {
    color: white;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.4;
    }

    &--telegram {
      display: inline-flex;

      &::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 6px;
        background-image: url("data:image/svg+xml,%3Csvg enable-background='new 0 0 24 24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='12' cy='12' fill='%23039be5' r='12'/%3E%3Cpath d='m5.491 11.74 11.57-4.461c.537-.194 1.006.131.832.943l.001-.001-1.97 9.281c-.146.658-.537.818-1.084.508l-3-2.211-1.447 1.394c-.16.16-.295.295-.605.295l.213-3.053 5.56-5.023c.242-.213-.054-.333-.373-.121l-6.871 4.326-2.962-.924c-.643-.204-.657-.643.136-.953z' fill='%23fff'/%3E%3C/svg%3E");
      }
    }
  }
}

@media (min-width: 590px) {
  .slider {
    flex-wrap: nowrap;

    &__panel {
      width: 235px;
      border-radius: 0 7px 7px 0;
    }

    &__wrapper {
      &--vertical {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (min-width: 730px) {
  .slider,
  .footer__wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
