body {
  margin: 0;
  padding: 0 30px 40px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__title {
    margin: 0;
    color: #211515;
  }
}

.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
}

.slider {
  &--horizontal {
    width: 100%;
  }

  &--vertical {
    min-height: 200px;
  }

  &__input {
    width: 100px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
