body {
  margin: 0;
  padding: 0 30px 40px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__title {
    margin: 0;
    color: #211515;
  }
}

.slider {
  &--vertical {
    height: 1px;
    min-height: 200px;
  }
}

.slider__wrapper {
  max-width: 700px;
  margin: 0 auto 40px;

  &--vertical {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    &:not(:last-of-type) {
      margin-bottom: 30px;
    }
  }
}
