body {
  margin: 0;
  padding: 0 30px 40px;
}

.container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  &__title {
    margin: 0;
    color: #211515;
  }
}

.slider__wrapper {
  max-width: 700px;
  margin: 0 auto 40px;

  &--vertical {
    display: flex;
    height: 200px;
    gap: 50px;
  }
}
